* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #020d18;
  --color-secondary: #f1c40f;
  --color-tertiary: #040406;
}

body {
  background-color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
}

/* General Styling*/
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-primary {
  color: var(--color-secondary);
}

.text-secondary {
  color: var(--color-secondary);
}

.active {
  color: var(--color-secondary);
  font-weight: 700;
}

.back {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: var(--color-secondary);
  color: #000;
}

.btn:disabled {
  border-color: #ccc;
  cursor: not-allowed;
}

.btn:disabled:hover {
  background: transparent;
  color: #fff;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header Section*/

.main-header {
  padding: 20px 0;
  background-color: var(--color-tertiary);
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main-header .logo {
  color: #fff;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
}

.logo a:hover {
  color: var(--color-secondary);
}

.main-header ul {
  display: flex;
}

.main-header ul li {
  margin-left: 20px;
}

.main-header ul li a {
  font-size: 16px;
}

.main-header ul li a:hover {
  color: var(--color-secondary);
}

/* Now Playing Section */
.now-playing {
  padding: 60px;
  background: url("../images/showcase-bg.jpg") no-repeat center center/cover;
}

section h2 {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.swiper {
  width: 100%;
  height: 50%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-rating {
  padding: 10px;
}

/* Search Movies Section */
.search {
  padding: 60px;
  margin-bottom: 40px;
}

.search .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search .container h2 {
  margin-bottom: 20px;
}

.search .container form {
  width: 100%;
  max-width: 600px;
}

.search-radio {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.search-radio input[type="radio"] {
  display: none;
}

.search-radio label {
  padding: 10px 20px;
  background-color: #f1c40f;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
}

.search-radio input[type="radio"]:checked + label {
  background-color: #000000;
  color: #f1c40f;
}

.search-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.search .container form input[type="text"] {
  flex: 6;
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: transparent;
  color: #fff;
}

.search .container form input[type="text"]::placeholder {
  color: #fff;
}

.search .container form input[type="text"]:focus {
  outline: none;
}

.search .container form button {
  flex: 1;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
  background: var(--color-secondary);
  color: #000;
}

.search .container form button:hover {
  background: transparent;
  color: #fff;
}

.pagination {
  margin-top: 20px;
}

.page-counter {
  margin-top: 10px;
}

/* Alert */
.alert {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.success {
  background: green;
}

.error {
  background: red;
}

/* Popular Movies Section */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.card {
  background: #04376b;
  padding: 5px;
}

.card img {
  width: 100%;
}

.card-body {
  padding: 10px;
  font-size: 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  background: #0a4b8f;
}

/* Movie Details Section */
.details-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 30px;
}

.details-top img {
  width: 400px;
  height: 100%;
  margin-right: 60px;
  object-fit: cover;
}

.details-top p {
  margin: 20px 0;
}

.details-top .btn {
  margin-top: 20px;
}

.details-bottom li {
  margin: 15px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.1);
}

.details-cast h2 {
  margin: 50px 0;
  text-align: center;
}

.cast-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.cast-content p:nth-child(2) {
  margin-top: 6px;
  color: #c9c9c9;
}

.cast-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cast-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  background-color: aqua;
  border: 2px solid #fff;
}

@media screen and (max-width: 800px) {
  .cast-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
  }
  .details-cast h2 {
    font-size: 32px;
  }
}

/* Footer Section */
.main-footer {
  background: var(--color-tertiary);
  padding: 20px 0;
  margin-top: 50px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer .container .logo {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-footer .container .social-links {
  display: flex;
  font-size: 20px;
}

.main-footer .container .social-links a {
  margin-left: 10px;
  color: #fff;
}

.main-footer .container .social-links a:hover {
  color: var(--color-secondary);
}

/* Spinner */
.spinner-container {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.film-reel {
  width: 90px;
  height: 90px;
  background-color: #cecece;
  border-radius: 50%;
  position: relative;
}

.film-roll {
  width: 70px;
  height: 70px;
  background: linear-gradient(to bottom, #1b1b1b 0%, #cecece 100%);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Backdrop image */
.backdrop {
  position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}
